<p id="notice"><%= notice %></p>

<p>
  <strong>Spell:</strong>
  <%= @english_word.spell %>
</p>

<%= link_to 'Edit', edit_english_word_path(@english_word) %> |
<%= link_to 'Back', english_words_path %>
